.container {
	margin-top: 6rem;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}
.header {
	font-size: 2.5rem;
	font-weight: 700;
	color: turquoise;
}
.greet {
	font-size: 1.6rem;
	font-weight: 600;
}
.msg {
	font-size: 1.2rem;
	font-weight: 500;
	color: gray;
}
.create-btn {
	background-color: teal;
	border: 2px solid teal;
	color: white;
	padding: 0.5rem 2rem;
	font-size: 1.3rem;
	font-weight: 600;
	cursor: pointer;
	transition: 0.4s ease all;
}
.create-btn:hover {
	background-color: white;
	color: teal;
}
