.container {
	margin-top: 6rem;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}
.header {
	font-size: 2.5rem;
	font-weight: 700;
	color: turquoise;
}
.sub {
	font-size: 1.4rem;
	font-weight: 500;
}

.card {
	width: 1000px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
	padding: 1rem 2rem;
}

.left {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.name {
	font-size: 1.4rem;
	color: teal;
	font-weight: 600;
}

.right {
	width: 600px;
	padding: 2.5rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.text {
	font-size: 1.4rem;
	font-weight: 500;
}
.date {
	color: gray;
	font-size: 1.2rem;
	font-weight: 600;
}
.btns {
	display: flex;
	gap: 1rem;
}
.btns > button {
	padding: 0.8rem;
	font-size: 1rem;
	font-weight: 600;
}
.svg {
	height: 20px;
	width: 20px;
}
.like {
	background-color: lightgrey;
	border: 1px solid lightgrey;
	cursor: pointer;
	transition: 0.4s ease all;
}
.like:hover {
	background-color: rgb(167, 164, 164);
}
.comment {
	background-color: teal;
	color: white;
	border: 1px solid teal;
	cursor: pointer;
	transition: 0.4s ease all;
}
.comment:hover {
	background-color: white;
	color: teal;
}

.delete {
	background-color: red;
	color: white;
	border: 1px solid red;
	cursor: pointer;
	transition: 0.4s ease all;
}
.delete:hover {
	background-color: white;
	color: red;
}
